<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="p-0 mb-3 app-navbar sticky-top">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 me-3 text-dark text-decoration-none">
          <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <!-- Created with Inkscape (http://www.inkscape.org/) -->

            <svg
              width="32"
              height="32"
              viewBox="0 0 8.4666665 8.4666669"
              version="1.1"
              id="svg5"
              inkscape:version="1.1.2 (08b2f3d93c, 2022-04-05)"
              sodipodi:docname="logo.svg"
              xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
              xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:svg="http://www.w3.org/2000/svg">
              <sodipodi:namedview
                id="namedview7"
                pagecolor="#ffffff"
                bordercolor="#666666"
                borderopacity="1.0"
                inkscape:pageshadow="2"
                inkscape:pageopacity="0.0"
                inkscape:pagecheckerboard="0"
                inkscape:document-units="mm"
                showgrid="false"
                units="px"
                width="32px"
                inkscape:zoom="22.292705"
                inkscape:cx="12.627449"
                inkscape:cy="15.229197"
                inkscape:window-width="1876"
                inkscape:window-height="1016"
                inkscape:window-x="0"
                inkscape:window-y="0"
                inkscape:window-maximized="1"
                inkscape:current-layer="layer1" />
              <defs
                id="defs2" />
              <g
                inkscape:label="Layer 1"
                inkscape:groupmode="layer"
                id="layer1">
                <circle
                  style="fill:#00b97f;stroke-width:0.179435;stroke:none;fill-opacity:1"
                  id="path846"
                  cx="4.2333331"
                  cy="4.2333331"
                  r="4.2333331" />
                <circle
                  style="fill:#4dc57b;fill-opacity:1;stroke:none;stroke-width:0.134576"
                  id="path846-7"
                  cx="4.2333331"
                  cy="4.2333331"
                  r="3.175" />
                <ellipse
                  style="fill:#1a6b51;fill-opacity:1;stroke:none;stroke-width:0.0138445"
                  id="path846-3"
                  cx="4.2504535"
                  cy="-2.6235442"
                  rx="0.14852352"
                  ry="0.71829933"
                  transform="matrix(0.02040241,0.99979185,-0.99988436,0.01520762,0,0)" />
                <ellipse
                  style="fill:#1a6b51;fill-opacity:1;stroke:none;stroke-width:0.0138445"
                  id="path846-3-3"
                  cx="5.8760386"
                  cy="-0.27270523"
                  rx="0.14852352"
                  ry="0.71829933"
                  transform="matrix(0.46237049,0.88668683,-0.88907715,0.45775739,0,0)" />
                <ellipse
                  style="fill:#1a6b51;fill-opacity:1;stroke:none;stroke-width:0.0138445"
                  id="path846-3-3-5"
                  cx="5.971673"
                  cy="3.4754155"
                  rx="0.14852352"
                  ry="0.71829933"
                  transform="matrix(0.89093041,0.45413986,-0.45876264,0.88855886,0,0)" />
              </g>
            </svg>
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 app-navbar-menu">
          <li><a href="#" class="nav-link px-3 py-4">Dashboard</a></li>
          <li><a href="#" class="nav-link px-3 py-4">Features</a></li>
          <li><a href="#" class="nav-link px-3 py-4">Tags</a></li>
          <li><a href="#" class="nav-link px-3 py-4">Steps</a></li>
        </ul>
      </div>
    </div>
  </header>
  <main class="p-3">
    <div class="container" id="feature-test-container">
      
    </div>
  </main>
  <!-- <script src="https://kit.fontawesome.com/ba3028319d.js" crossorigin="anonymous"></script> -->
</body>
</html>